flows(1).json
[{"id":"606c68a817fcb084","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"349098965bd1c124","type":"ui_form","z":"606c68a817fcb084","name":"","label":"","group":"5b9a218e186d0c0d","order":4,"width":0,"height":0,"options":[{"label":"HEARTBEAT_COUNT","value":"HEARTBEAT_COUNT","type":"number","required":true,"rows":null},{"label":"PALPITATIONS ","value":"PALPITATIONS ","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"EXERCISE_TIME","value":"EXERCISE_TIME","type":"number","required":true,"rows":null}],"formValue":{"HEARTBEAT_COUNT":"","PALPITATIONS ":"","BMI":"","EXERCISE_TIME":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":340,"wires":[["1920af27fa1cca5b","b493cf2bdf8e4924"]]},{"id":"837e08ab4a567abc","type":"ui_dropdown","z":"606c68a817fcb084","name":"","label":"SEX","tooltip":"","place":"SEX","group":"5b9a218e186d0c0d","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":150,"y":100,"wires":[["945049931f36cd6f","841c208a77a1a9ac"]]},{"id":"ab6cf861efb252ef","type":"ui_dropdown","z":"606c68a817fcb084","name":"","label":"FAMILY_HISTORY","tooltip":"","place":"FAMILY HISTORY","group":"5b9a218e186d0c0d","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Yes","type":"str"},{"label":"No","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":180,"wires":[["ac9ff262b4c1a3c1","6901570b8f4d4c35"]]},{"id":"a4f1513364896ba5","type":"ui_dropdown","z":"606c68a817fcb084","name":"","label":"SMOKER_LAST_5YRS","tooltip":"","place":"SMOKER_LAST_ 5YRS","group":"5b9a218e186d0c0d","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Yes","type":"str"},{"label":"No","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":240,"wires":[["b3dc38d471bde496","69a0310b7676b302"]]},{"id":"945049931f36cd6f","type":"debug","z":"606c68a817fcb084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":100,"wires":[]},{"id":"ac9ff262b4c1a3c1","type":"debug","z":"606c68a817fcb084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":180,"wires":[]},{"id":"b3dc38d471bde496","type":"debug","z":"606c68a817fcb084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":260,"wires":[]},{"id":"1920af27fa1cca5b","type":"debug","z":"606c68a817fcb084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":360,"wires":[]},{"id":"841c208a77a1a9ac","type":"function","z":"606c68a817fcb084","name":"global variables for sex node","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":60,"wires":[["945049931f36cd6f"]]},{"id":"6901570b8f4d4c35","type":"function","z":"606c68a817fcb084","name":"global variable for FAMILY_HISTORY","func":"global.set(\"FAMILY_HISTORY\",message.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["ac9ff262b4c1a3c1"]]},{"id":"69a0310b7676b302","type":"function","z":"606c68a817fcb084","name":"global variable for SMOKER_LAST_5YRS","func":"global.set(\"SMOKER_LAST_5YRS\",message.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["b3dc38d471bde496"]]},{"id":"b493cf2bdf8e4924","type":"function","z":"606c68a817fcb084","name":"global variables for form node","func":"global.set(\"HEARTBEATCOUNT\", msg.payload.HEARTBEATCOUNT)\nglobal.set(\"PALPITATIONS\",msg.payload.PALPITATIONS)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"EXERCISE_TIME\",msg.payload.EXCERCISE_TIME)\nvar apikey=\"LKNn5YURxrY4InF1dk41KsZ30bH4Mucp0nHVLbZ4V06q\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":300,"wires":[["1920af27fa1cca5b","270f192b0498099f"]]},{"id":"270f192b0498099f","type":"http request","z":"606c68a817fcb084","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":true,"x":530,"y":320,"wires":[["328ec823360eafdb","ab28a77093472a89"]]},{"id":"328ec823360eafdb","type":"debug","z":"606c68a817fcb084","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":300,"wires":[]},{"id":"ab28a77093472a89","type":"function","z":"606c68a817fcb084","name":"","func":"var SEX=global.get(\"SEX\")\nvar FAMILYHISTORY=global.get(\"FAMILY_HISTORY\")\nvar SMOKERLAST5YRS=global.get(\"SMOKER_LAST_5YRS\")\nvar AVGHEARTBEATSPERMIN=global.get(\"HEARTBEATCOUNT\")\nvar PALPITATIONSPERDAY=global.get(\"PALPITATIONS\")\nvar BMI=global.get(\"BMI\")\nvar EXERCISEMINPERWEEK=global.get(\"EXERCISE_TIME\")\nvar token=msg.payload.access_token\nmsg.headers={\"content-type\":\"application/json\",\"Authorization\":\"Bearer\"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\": [{\"fields\": [\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\", \"CHOLESTEROL\",\"BMI\",   \"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\"values\": [AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,0,BMI,0,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK] } ] }\nreturn msg;\n\n  ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":440,"wires":[["cedf417c991b447d"]]},{"id":"cedf417c991b447d","type":"http request","z":"606c68a817fcb084","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/eb4533ba-ed27-4bab-b932-15b20de8442c/predictions?version=2022-07-28","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":610,"y":440,"wires":[["6161e0adc1b62ab6","039a6f8204edd8bc"]]},{"id":"6161e0adc1b62ab6","type":"debug","z":"606c68a817fcb084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":540,"wires":[]},{"id":"039a6f8204edd8bc","type":"function","z":"606c68a817fcb084","name":"","func":"msg.payload=msg.payload.errors[0].message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":400,"wires":[["942700baa8eca574"]]},{"id":"942700baa8eca574","type":"ui_text","z":"606c68a817fcb084","group":"5b9a218e186d0c0d","order":4,"width":0,"height":0,"name":"","label":"The prediction is","format":"{{msg.payload}}","layout":"row-spread","className":"","x":890,"y":640,"wires":[]},{"id":"5b9a218e186d0c0d","type":"ui_group","name":"Enter the values","tab":"56a8cf2c98dfdb61","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"56a8cf2c98dfdb61","type":"ui_tab","name":"Heart disease predictor","icon":"dashboard","disabled":false,"hidden":false}]